html, body {
  font-family: "Times New Roman";
  width: 100%;
  height: 100%;
}

li{
  padding-left: 63px;
}

h2{
  text-align: center;
}
.intro {
  display: flex;
  padding-top: 5px;
  padding-left: 0px;
  padding-bottom: 20px;
  background-color: #000000;
  height: 20px;
  font-size: 13px;
  text-align: center;

}

a {
  color: white;
  text-decoration: none;
}

.main {
  display: flex;
  padding-left: 50px;
  min-width: 75%;
  text-align: center

}

.about{
  padding-top: 50px;
  padding-left: 300px;

}

.contactPos{
  position: fixed;
  bottom: 0;

  width: 100%;

}
.contacts {
   display: flex;

}

.github {
   display: flex;
   padding-top: 1px;
   padding-bottom: 1px;
   padding-left: 500px;
}
.facebook {
   display: flex;
   padding-top: 1px;
   padding-bottom: 1px;
   padding-left: 20px;
}
.instagram {
   display: flex;
   padding-top: 1px;
   padding-bottom: 1px;
   padding-left: 20px;
}
.LinkedIn {
   display: flex;
   padding-top: 1px;
   padding-bottom: 1px;
   padding-left: 20px;
}
nav ul{
   display: flex;


}

.avatar {
  position: absolute;
  border-radius: 50%;
  top: 150px;


}
